<!DOCTYPE html>
<html>
<head>
    <title>Login</title>  
</head>
<body>
<body style="margin:0; height:100vh; display:flex; justify-content:center; align-items:center;">

<div>

<h2 style="text-align:center;">Login</h2>

<form method="POST" style="width:300px; margin:auto;">
    {% csrf_token %}

    <input type="text" name="username" placeholder="Username"
        style="width:100%; padding:10px; margin:10px 0;">

    <input type="password" name="password" placeholder="Password"
        style="width:100%; padding:10px; margin:10px 0;">

    <button style="
        width:100%;
        padding:10px;
        background:#ff0000;
        color:white;
        border:none;
        border-radius:5px;
        cursor:pointer;">
        Login
    </button>
</form>

<p style="text-align:center;">
    New user? <a href="/signup/">Sign Up</a>
</p>

</div>

</body>
</body>
</html>