<!DOCTYPE html>
<html>
<head>
    <title>movie name: {{ movie.title }}</title>
</head>

<body style="background:#141414; color:white; font-family:Arial;">

<h1>{{ movie.title }}</h1>
        
<h2>Genre: {{ movie.genre }}</h2>

<h2>Rating: ⭐ {{ movie.rating }}</h2>

<h2>Actor: {{ movie.actor }}</h2>

<h2>Director: {{ movie.director }}</h2>

<h2>Language: {{ movie.language }}</h2>

<h2>story: {{ movie.description }}</h2>

<a href="/">
    <button>Back To Home</button>
</a>

</body>
</html>